@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(./iconfont/iconfont.css);

html {
  background: url("https://1.bp.blogspot.com/-FdE2gqFQWmg/X0tGs6hOgTI/AAAAAAAAAec/WTahqGP6cNo3SHYbc-pOpy7bcBvnGuk-QCLcBGAsYHQ/s16000/bg-type.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #222;
}

html,
body {
  font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 845px) {
  .top {
    font-size: 28px !important;
  }
  .contents-section {
    margin: 35px auto !important;
    padding: 0.5rem 0.6rem !important;
    opacity: 0.85 !important;
  }
  .contents-section:hover {
    opacity: 0.95 !important;
  }
  .contents-section.intro {
    opacity: 1 !important;
  }
  .contents-section.intro:hover {
    opacity: 1 !important;
  }
  .col-70 {
    padding-left: 0px !important;
  }
  .col-content {
    padding-left: 0px !important;
  }
  .table,
  .content-history {
    display: block !important;
  }
  .section-title {
    font-size: 19px !important;
  }
  .underline-ment {
    font-size: 14px !important;
  }
  .sub-ment {
    display: block;
    line-height: 30px;
  }
  .table div {
    font-size: 15px !important;
  }
  .table .table-head {
    margin: 5px 0 2px 0;
  }
  .content-study-sub-title {
    font-size: 14px !important;
  }
  .score {
    font-size: 13px !important;
  }
  .stack {
    font-size: 12px !important;
  }
  .history-title,
  .history-date {
    font-size: 15px !important;
  }
  .table .col-30 {
    min-width: 140px !important;
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto;
  }
  .text-line {
    font-size: 16px !important;
  }
  .text-title {
    margin-top: 15px !important;
    font-size: 19px !important;
    text-align: center !important;
  }
  .contact-section {
    margin-top: 0px !important;
  }

  .col-30 {
    display: flex !important;
    flex-direction: column !important;
  }
  .mobile-hide-span {
    display: none !important;
  }
}

.view-container {
  margin: 0 auto;
  max-width: 1200px;
}

.top {
  margin-top: 10%;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: right;
  margin-right: 13.5%;
}

.top .top-line {
  padding: 0px;
  margin: -10px 0px;
}

.contents-section {
  background-color: white;
  width: 70%;
  margin: 55px auto;
  padding: 0.7rem 0.9rem;
  border-radius: 0.4rem;
}

.contents-section {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ease-in-out;
}

.contents-section.active {
  opacity: 0.8;
  transform: translateY(0px);
}

.contents-section.intro,
.contents-section.intro.active {
  opacity: 1;
}

.contents-section:hover {
  opacity: 0.95;
}

.contents-section .section-title {
  font-size: 26px;
  font-weight: 600;
}

.contents-section .section-content {
  padding-top: 20px;
}

.contents-section .intro {
  margin-bottom: 10px;
}

.hl {
  font-weight: 600;
}

.big-hl {
  font-weight: 800;
}

.hover-red {
  transition: 0.7s all;
}

.top:hover .hover-red {
  color: rgb(255, 30, 60);
}

.table {
  display: flex;
}

.table .table-column {
  flex: 1;
  padding-left: 0.2rem;
}

.table .table-head {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.1rem;
}

.table .table-content {
  font-size: 16px;
  font-weight: 400;
}

.table .col-left {
  flex: 6;
}
.table .col-right {
  flex: 4;
}
.table .col-right {
  font-size: 15px;
}

.table .row-container {
  display: flex;
}

.table .row-mid-title {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.1rem;
}

.table .col-30 {
  flex: 3;
  min-width: 220px;
  width: 100%;
  height: 230px;
  background: url("./avatar.jpg") no-repeat;
  background-size: cover;
  background-color: #222;
  border-radius: 0.4rem;
}
.table .col-70 {
  flex: 7;
  padding-left: 0.5rem;
  color: white;
  font-weight: 300;
}

.table .col-content {
  border-radius: 0.4rem;
  padding-left: 0.7rem;
}

.intro {
  background: none;
  opacity: 1;
}

.text-line {
  margin: 4px;
}

.intro-ment .text-line {
  font-size: 18px;
}

.col-content > .text-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.border-bottom-text {
  border-bottom: 1.5px solid white;
}

.content-history-container {
  font-size: 16px;
}

.content-history {
  display: flex;
  margin-top: 4px;
}

.history-date {
  flex: 1;
}

.history-title {
  flex: 2;
}

.history-stack {
  flex: 8;
  font-size: 14px;
  font-weight: 400;
}

.stack {
  font-family: "Consolas", serif;
  background: #456;
  color: white;
  font-size: 14px;
  border-radius: 0.1rem;
  padding: 1px 4px;
}

.contents-section .section-ment {
  font-size: 16px;
  font-weight: 400;
}

.underline-ment {
  padding: 0.1rem 0.3rem;
  border-bottom: 1px solid #777;
}

.content-study {
  font-size: 17px;
}

.content-study-title {
  font-size: 18px;
  font-weight: 600;
}

.content-study-content {
  padding-top: 10px;
}

.stack-ment {
  padding-left: 7px;
  font-size: 15px;
}

.content-study-courses {
  padding: 0.5rem 0;
}

.content-study-courses .score {
  padding: 0.2rem 0.25rem;
  margin: 0px 5px;
  font-size: 15px;
  background: rgba(0, 138, 143, 0.14);
  border-radius: 0.2rem;
  white-space: nowrap;
  line-height: 37px;
}

.content-study-sub-title {
  font-size: 16px;
}

.content-study-sub-ment {
  padding: 0.15rem 0.2rem;
  margin: 0px 0px 0px 7px;
  font-size: 14px;
  background: rgba(0, 255, 119, 0.212);
  border-radius: 0.2rem;
}

.copyright {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.big-arrow {
  text-align: center;
  font-size: 50px;
  color: white;
}

.contact-section {
  margin-top: 197px;
  text-align: center;
  z-index: 1000;
}

.iconfont {
  font-size: 26px !important;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 3px;
}

a:hover {
  color: dodgerblue;
}

.email {
  font-weight: 400;
  font-size: 14px;
  background: rgba(204, 204, 204, 0.123);
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}
.email:hover {
  color: dodgerblue;
}

.row-70 {
  flex: 7;
}

.row-30 {
  flex: 3;
}

.copyright {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem;
}
